{% extends "layout.html" %}
{% block content %}
    <p>This is where the inventory will be displayed</p>
    <table class="table table-striped">
        <thead>
         <tr>
          <h1>{{ current_user.name }}'s Inventory</h1>
         </tr>
         <tr>
           <th scope="col">Image</th>
           <th scope="col">Name</th>
           <th scope="col">Quality</th>
           <th scope="col">Value</th>
         </tr>
         </thead>
      <tbody>
        {% for item in inventory %}
        <tr>
          <td>
            <img src= "{{ item.icon_url }}" alt="No Image" style="width:64px;height:64px"/>
          </td>
          <td>
           <label>{{ item.name }}</label>
          </td>
          <td>
           <label>{{ item.quality }}</label>
          </td>
          <td>
            <label>${{ item.price / 100 }}</label>
          </td>
          <td>
            <div class="submit-button">
              <form action = "/sell" method="POST">
              <input type="hidden" value="{{item.classid}}" name="classid">
             <input type="hidden" value="{{item.instanceid}}" name="instanceid">
             <input type="hidden" value="{{item.price}}" name="price">
             <input type="submit" value="SELL" name = "sellAction">
          </form>
            </div>
       </td>
        </tr>
      {% endfor %}
      </tbody>
   </table>
{% endblock content %}
