{% extends "layout.html" %}
{% block content %}
    <table class="table table-striped">
        <thead>
         <tr>
			<h1>Market</h1>
         </tr>
         <tr>
           <th scope="col">Image</th>
           <th scope="col">Name</th>
           <th scope="col">Quality</th>
           <th scope="col">Price</th>
         </tr>
         </thead>
      <tbody>
       {% for item in all_items %}
         <tr>
           <td>
            <label for="{{ item.Image }}"><img src= "{{ item.image }}" alt="No Image" style="width:10px;height:10px"></label>
           </td>
           <td>
            <label for="{{ item.Name }}">{{ item.name }}</label>
           </td>
           <td>
            <label for="{{ item.Quality }}">{{ item.quality }}</label>
           </td>
           <td>
            <label for="{{ item.Price }}">${{ item.price / 100 }}</label>
           </td>
         </tr>
       {% endfor %}
      </tbody>
   </table>
{% endblock content %}

