body {
    background: hsl(0, 0%, 10%);
    color: #de9b35;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6, a {
    color: #d5d5d5;
}

.bg-steel {
    background-color: #303030;
}

.site-header .navbar-nav .nav-link {
    color: #6a6a6a;
}

.site-header .navbar-nav .nav-link:hover {
    color: #de9b35;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.site-header .dropdown-menu > li > .nav-item.nav-link {
    color: #de9b35;
}

.site-header .dropdown-menu > li > .nav-item.nav-link:hover {
    color: #de9b35;
}

.content-section {
    position: fixed;
    width: 400px;
    background: #303030;
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.content-section .list-group {
    color: #de9b35;
    background: transparent;
}

.content-section .list-group .list-group-item {
    background: transparent;
}

.content-section .list-group .list-group-item a {
    color: white;
}

.content-section .list-group .list-group-item a:hover {
    color: #de9b35;
}

.article-title {
    color: #5d79ae;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #6a6a6a
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}


.btn-outline-info{
    color: #de9b35;
    border-color: white;
}

.btn-outline-info:hover{
    background-color: #de9b35;
    border-color: white;
}

.table-striped a {
    color: #de9b35;
}

.submit-button input[type="submit"] {
    color: #de9b35;
    background: #303030;
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for the button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.submit-button input[type="submit"]:hover {
    color: #303030;
    background-color: #de9b35; /* Darker shade on hover */
    cursor: pointer;
}

.small-text a {
    color: #de9b35;
}